{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Modifier mon mot de passe</h1>
        - <a href="{{ path('app_account') }}"> retourner à mon compte</a>
        <hr>
        {% if notificationError %}
            <div class="alert alert-danger"> {{ notificationError }}</div>
        {% elseif notificationSuccess %}
            <div class="alert alert-success">{{ notificationSuccess }}</div>
        {% endif %}

        {{ form(form) }}
    </div>
    <hr>
{% endblock %}
